:root{
    ---red: #f9032f;
    ---black: #000;
    ---white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: var(---black);
    height: 60px;
    padding: 0.5rem calc((100vh - 1200px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar_logo{
    color: var(---white);
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.navbar_link{
    color: var(---white);
    text-decoration: none;
    padding: 0rem 1rem;
}

.navbar_link:hover{
    color: var(---red);
}

@media screen and (max-width: 768px) {

    body.active {
        overflow-y: hidden;
        overflow-x: hidden;
    }


    .navbar_link{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
        position: absolute;
        width: 100%;
        top: -1000px;
    }

    .navbar_menu.active{
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background: var(---black);
    }

    .navbar_toogle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(---white);
        display: block;
        cursor: pointer;
    }

    #mobile-menu{
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    }
}

/* About BlazeQuest */

.heading-bq {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading-bq h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading-bq h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.heading-bq p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container-bq {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about-bq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aboutimg-bq {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.aboutimg-bq img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.aboutimg-bq:hover img{
    transform: scale(1.2);
}

.about-content-bq{
    flex: 1;
}

.about-content-bq h2{
    font-size: 23px;
    line-height: 1.5;
    color: #666;
}

.about-content-bq p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about-content-bq .Find-more-bq {
    display: inline-block;
    background-color: #4caf50;
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3 ease;
}

.about-content-bq .Find-more-bq:hover {
    background-color: #3e8e41;
}

@media screen and (max-width: 768px){
    .heading-bq{
        padding: 0px 20px;
    }

    .heading-bq h1{
        font-size: 36px;
    }

    .heading-bq p{
        font-size: 17px;
        margin-bottom: 0px;
    }

    .container-bq{
        padding: 0px;
    }

    .about-bq{
        padding: 20px;
        flex-direction: column;
    }

    .aboutimg-bq{
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .about-content-bq p{
        padding: 0px;
        font-size: 16px;
    }

    .about-content-bq .Find-more-bq{
        font-size: 16px;
    }
}

/* Footer Section */

.footer{
    padding: 5rem calc((100vh - 1100px) / 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(---white);
    background: var(---black);
}

.footer_desc{
    padding: 0 2rem;
}

.footer_desc h1 {
    margin-bottom: 2rem;
    color: var(---red);
    font-size: 1.5rem;
}

.footer_desc p {
    margin-bottom: 1rem;
}

#phone{
    font-weight: bold;
    font-size: 1.2rem;
}

.footer_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer_links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
}

.footer_title{
    font-size: 14px;
    margin-bottom: 16px;
}

.footer_link{
    text-decoration: none;
    color: rgb(242, 242, 242);
    font-size: 14px;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-in-out;
}

.footer_link:hover{
    color: var(---red);
}

@media screen and (max-width: 820px) {
    .footer_wrapper{
        grid-template-columns: 1fr;
    }    
}

@media screen and (max-width: 400px) {
    .footer_desc{
        padding: 1rem;
    }
    
    .footer_links{
        padding: 1rem;
    }
}

.contact_email{
    text-decoration: none;
    background-color: transparent;
    color: var(---red);
    justify-content: right;
    align-items: right;
    margin: 1rem 4rem;
}

.contact_email:hover{
    color: white;
}